
.nav {
display: flex;
justify-content: space-between;
    .nav__logo{
        display: flex;
        width: 40px;
height: 40px;
gap: 0px;
opacity: 0px;}
}

    .nav__item{
        list-style-type: none;
    }


    .nav__menu{
        display: flex;
        justify-content: space-evenly;
        font-family: "Roboto Slab", serif;
    }


    .nav__title{
        color: rgba(0, 0, 0, 1);
        font-weight: bolder;
    }

.nav__button{
border-radius: 50px;
width: 115px;
height: 38px;
gap: 0px;
opacity: 0.2px;
}

.nav__button{
        background-color: #5222D0;
        color: #FFFFFF;
}
.wrap {
}
    .wrap__title{
font-family: Intro ;
font-size: 60px;
font-weight: 400;
line-height: 72px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    }


    .wrap__passage{       
font-family: "Roboto Slab", serif;
font-optical-sizing: auto;
font-size: 20px;
font-weight: 300;
line-height: 32px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    }


    .wrap__buy {
        background-color: #5222D0;
        border-radius: 50px;
        width: 270px;
        height: 84px;
        top: 558px;
        left: 116px;
        gap: 0px;
        opacity: 0px;
        font-family: Intro ;
font-size: 35px;
font-weight: 400;
line-height: 35px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
}
.footer {
}
ul{
    display: flex;
    justify-content: space-evenly;
}
.nav__list{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.footer__item{
    list-style-type: none;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container__information__data{
    background-color: #FFFFFF;
}
.container__information__button{
    width: 135px;
height: 38px;
top: 994px;
left: 1021px;
gap: 0px;
border-radius: 50px;
opacity: 0px;
background-color: #5222D0;

}
    .container__picture1{}


    .container__picture2{}


    .container__picture3{}

    .container__information{
        background-color: #EC615B;
        display: inline-block;
                }

		.container__text1


		.container__text2



		.container__text3



		.container__text4



		.container__text5

 

		.container__title{
font-family: Intro ;
font-size: 30px;
font-weight: 400;
line-height: 36px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
.container__title_white{
    display: flex;
    align-items: center;
    font-family: Intro ;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    }

		.container__content{
        font-family: Roboto Slab;
font-size: 20px;
font-weight: 300;
line-height: 32px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}


.form {
}
