
.nav {
display: flex;
justify-content: space-between;
    /* .nav__logo */

    &__logo {
        display: flex;
    }

    /* .nav__title */

    &__title {
        color: rgba(0, 0, 0, 1);
        font-weight: bolder;
    }

		/* .nav__button */

	&__button {
        background-color: blueviolet;
	}

		/* .nav__basket */

	&__basket {
        background-color: blueviolet;
	}
}

.wrap {

    /* .wrap__title */

    &__title {
    }

    /* .wrap__passage */

    &__passage {
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    &__buy {
        background-color: purple;
    }
}
.footer {
    &__item {
        display: flex;
    }
}