.nav {
display: flex;

    &__title {
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(0, 0, 0, 1);
        font-weight: bolder;
    }


    &__basket {
    }
}
.logo {
}
.wrap {
}
.main {

    /* .main__title */

    &__title {
    }

    /* .main__passage */

    &__passage {

  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
    }

    /* .main__buy */

    &__buy {
    }
}
.footer {

    /* .footer__main */

    &__main {
    }

    /* .footer__item */

    &__item {
    }
}
